<!--
	Author: 
	Date: 

	Description: Template Description
-->

<div id="content">
	<h1>WordpressBackbone</h1>
  	<div id="name">{{content}}</div>
  	<ul>
	  	{{#each posts}}
	  	<li>{{this.content}}</li>
	  	{{/each}}
  	</ul>
</div>
